@model Entities_Hotel_5_Rosas.Entity_OfertaTemporada

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Entity_OfertaTemporada</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_Temporada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_Temporada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_Tipo_Habitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_Tipo_Habitacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oferta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oferta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PK_Oferta_Temporada">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
