@model Entities_Hotel_5_Rosas.Entity_Habitacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Entity_Habitacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_Tipo_Habitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_Tipo_Habitacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_Hotel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_Hotel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero_Habitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero_Habitacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PK_Habitacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
